

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;

  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to right, #d1f9dc, #fcd2d0);
}

div {
  text-align: center;
  background-color: #e9f2f417;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 4px 20px rgba(6, 2, 250, 0.169);

}

p {
  font-size: 24px;
  margin: 10px 0;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px ;
  cursor: pointer;
  
}

button:hover {
  background-color: #fafcfa;
}

button:active {
  background-color: #ccc;
}

button:nth-of-type(1) {
  background-color: #4CAF50; 
  color: white;
}

button:nth-of-type(2) {
  background-color: #f44336; 
  color: white;
}
